.col-sm-4 {
  height: 250px;
  width: 250px;
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.col-sm-4 div:first-child {
  margin-top: 5px;
}
.removebtn {
  padding: 2px;
  position: absolute; 
  top: 0;
  right: 0;
}
.zoombtn {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 20;
}
.qs-box {
  background-color: white;
}

#modal-content {
  height: 80%;
  width: 90%;
}
#QSPreview {
  border:1px solid black;
  height: 60%;
  width: 60%;
}

#QSZOOM {
  border: 1p solid black;
  height: 60%;
  width: 60%;
}
