.col-sm-4 {
  height: 250px;
  width: 250px;
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.col-sm-4 div:first-child {
  margin-top: 5px;
}
.removebtn {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
}
.zoombtn {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 20;
}
.qs-box {
  background-color: white;
}
.qs-box-wrapper  {
  height: calc(100vh / 4);
/*  height: 48%;
  width: 98%;
  clear:both;
  */
}
.qs-box-fliter {
  height: calc(100vh / 6);
}
.selectedIcon {
  background: grey;
  opacity: 0.5;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index:100;
}
#modal-content .modal-dialog {
}
#modal-content .modal-content {
  height:90vh;
}
#QSPreview {
  border:1px solid black;
  height: 60vh;
  width: 80vw;
  overflow: scroll;
}

#QSZOOM {
  border: 1p solid black;
  height: 60%;
  width: 60%;
}
