@media only screen and (min-width : 481px) {
   .flex-row.row {
	 display: flex;
	 flex-wrap: wrap;
   }
   .flex-row.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
   height: 200px;
   padding-top:18px;
   margin-bottom: 30px;
   margin-left: 30px;
}
  .flex-row.row:after,
  .flex-row.row:before {
	 display: flex;
  }
}
.row{

}
.col-sm-4 {
  border: 1px solid grey;
  background-color: lightgrey;
}
.col-sm-4 div:first-child {
  margin-top: 5px;
}
.removebtn {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
}
.zoombtn {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 20;
}
.qs-box {
  background-color: white;
}
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}
.modal .modal-header {
    height: 10%;
}
.modal .modal-body {
    height: 90%;
}
.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

.modal-content #QSPreview {
    max-width: 100%;
}

#QSPreview {
  align-self: center;
}
